body {
    background-color: #f8f9fa; /* Sfondo leggero */
    color: #343a40; /* Testo scuro */
 }
 
 h1, h2, .navbar-brand {
    margin-bottom: 20px;
 }
 
 .container, .container-fluid {
    padding: 20px 15px;
 }
 
 .navbar {
    padding: 15px;
 }
 